
@{
    ViewBag.Title = "SuccessRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="refresh" content="3;url=/Home/Index" />

<div class="col-md-offset-1" style="margin-top:50px; line-height:1.5">
    <span style="font-family: 'Lobster', cursive;font-size:40px;">
        Спасибо за регистрацию в конкурсе. Ваша заявка принята!
    </span>
</div><meta http-equiv="refresh" content="3;url=/Home/Index" />

<div class="col-md-offset-1" style="margin-top:50px; line-height:1.5">
    <span style="font-family: 'Lobster', cursive;font-size:40px;">
        Спасибо за регистрацию в конкурсе. Ваша заявка принята!
    </span>
</div>

